.footer{

padding:60px 0;

background:#020617;

text-align:center;

border-top:1px solid #1E293B;

}

.footer h2{

margin-bottom:20px;

}

.footer p{

color:#94A3B8;

margin-top:10px;

}

.copyright{

margin-top:35px;

font-size:14px;

}