.navbar{

    width:100%;

    position:fixed;

    top:0;

    left:0;

    z-index:999;

    background:#0B1120;

    border-bottom:1px solid #1E293B;

}

.navbar-container{

    display:flex;

    justify-content:space-between;

    align-items:center;

    height:80px;

}

.logo{

    display:flex;

    align-items:center;

    gap:10px;

    font-size:24px;

    font-weight:700;

    color:white;

}

.logo-icon{

    color:#3B82F6;

    font-size:28px;

}

.nav-links{

    display:flex;

    gap:35px;

}

.nav-links a{

    color:#CBD5E1;

    transition:.3s;

}

.nav-links a:hover{

    color:#3B82F6;

}

.login-btn{

    background:#2563EB;

    color:white;

    border:none;

    padding:12px 28px;

    border-radius:8px;

    font-size:15px;

}