.stats{

background:#0F172A;

}

.stats-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(240px,1fr));

gap:30px;

}

.stat-card{

background:#111827;

border:1px solid #1E293B;

padding:40px;

border-radius:15px;

text-align:center;

transition:.3s;

}

.stat-card:hover{

transform:translateY(-8px);

border-color:#3B82F6;

}

.stat-card h2{

font-size:45px;

color:#3B82F6;

margin-bottom:15px;

}

.stat-card p{

color:#94A3B8;

}