.workflow{
background:#0B1120;
}

.workflow-container{

display:flex;

justify-content:space-between;

flex-wrap:wrap;

gap:25px;

margin-top:60px;

}

.workflow-item{

flex:1;

min-width:180px;

text-align:center;

}

.circle{

width:65px;

height:65px;

margin:auto;

border-radius:50%;

background:#2563EB;

display:flex;

justify-content:center;

align-items:center;

font-size:22px;

font-weight:bold;

margin-bottom:20px;

}

.workflow-item h3{

font-size:18px;

color:white;

}